.container {
    width: 33%;
    background-color: aquamarine;
}

.container > .resultScreen {
    background-color: lightgray;
    height: 48px;
    font-size: 20px;
    border: solid;
}

.container > .allButtons button {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

.numButtons{
    color: brown;
    background-color: lightgreen;
}

.clrEql{
    color: white;
    background-color: darkgreen;
}

.operators{
    color: red;
    background-color: black;
}